body {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: grey;
}

header {
    text-align: center;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    margin: 0 0 0 10;
    padding: 10 10 0 0;
    border-style: solid;
    border-color: black;
    flex-wrap: wrap;
    display: flex;
}

header h2 {
    text-align: right;
}

.qass {
    display: none;
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border: 5px;
    border-style: groove;
    border-color: black;
    text-align: center;

}

.question {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.ui {
    display: none;
}

.lead {
    display: none;
}

.dofirst {
    display: block;
}

.btn {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border: 5px;
    border-style: groove;
    border-color: black;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem 0 #333;
}

.rorw {
    border-top: 1px;
    border-top-style: solid;
    opacity: .5;
}

.rorw p {
    text-align: center;
}

.scores {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    padding: 0.5rem;
}

.lead {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    padding: 0.5rem;
}

